<nav>
    <h2>E-Janta</h2>

    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/auth/user">Report</a></li>
        <li > <a href="/auth/register">register</a></li>
        <li > <a href="/auth/logout">logout</a></li>
        <li > <a href="/auth/user">Report</a></li>
    </ul>
</nav>