<nav>
    <h2>Role Based Model</h2>
    <ul>
        <li > <a href="/">Home</a></li>
        <li > <a href="/user/profile">Profile</a></li>
        <li > <a href="/auth/login">login</a></li>
        <li > <a href="/auth/register">register</a></li>
        <li > <a href="/auth/logout">logout</a></li>
        <li > <a href="/admin/user">Manage user</a></li>
    </ul>
</nav>