<nav>
    <h2>E-Janta</h2>

    
    <ul>
         <li > <a href="/">Home</a></li>
        <li > <a href="/user/profile">Profile</a></li>
        <li > <a href="/auth/login">login</a></li>
        <li > <a href="/auth/register">register</a></li>avash
        <li > <a href="/auth/checkreport">checkreport</a></li> 


</nav>